@charset "UTF-8";

* {
  font-family: Arial, sans-serif;
  /* height: 100%; */
}

body {
 background-image: linear-gradient(to right, rgba(119, 166, 18, 0.616), #658C11);
}

main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #2f3d19;
  width: 600px;
  padding: 10px;
  margin: auto;
  
}

h1 {
  color:#445925;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(49, 65, 27, 0.726);
}

h2 {
  color: #557314;
}

p {
  text-align: justify;
  
}